In [8]:
import pandas as pd

In [9]:
df = pd.read_csv("../data/fake phone number Quiz Student Analysis Report.csv")

In [10]:
df

                                number
0                         514-095-0901
1                        8616601147788
2                         522502910563
3                           6726991234
4                      +1 604 999 2929
5                         817031408236
6                      +1 425 808 7777
7                      +86 18621812398
8                       +374 99 887788
9                        +1 9737777719
10                     +1(571)396-1234
11                        604-543-4321
12                         16047106548
13             +256754009501\n\nuganda
14                    +60 1387 1987 34
15                          6263338798
16                          2892938293
17                         19196677788
18                          9196667788
19                  China: 13389898989
20                     +1(555)123-4567
21                          6047299823
22                          6046660000
23                       010-1168-6536
24                          6562353535
25                          4162382304
26                          6723748540
27                          5332817562
28                        918485296315
29                      +251 923431243
30                       6281216131101
31  18682254532 - Trinidad and TobagoÂ
32                         84356935565
33                         60179231234
34                       9719593743063
35                         16723508850
36                        0425-262-666
37                     +44 7911 123456
38                       +1 7782230556
39                          2508451876
40                        778-189-9990
41                          9995892710
42                         24455555555
43                      + 971 55555555
44                         17789000000
45                                   0
46                     +86 15693721831
47                        604-999-1133
48                     +86 13820686830
49                     +86 13627386656

In [13]:
"19196677788"

'19196677788'

In [12]:
import re

In [14]:
pattern = "[0-9]*"

In [18]:
pattern_compiled = re.compile(pattern)

In [21]:
bool(pattern_compiled.match("19196677788"))

True

In [24]:
pattern_1 = "[0-9]."
pattern_compiled = re.compile(pattern_1)
bool(pattern_compiled.match("19196677788"))

True

In [30]:
pattern_2 = "^[0-9].$"
pattern_compiled = re.compile(pattern_2)
bool(pattern_compiled.match("19196677788"))

False

In [35]:
pattern_3 = "^[0-9]*$"
pattern_compiled = re.compile(pattern_3)
bool(pattern_compiled.match("19196677788"))

True

In [38]:
pattern_4 = "^[0-9]{11}$"
pattern_compiled = re.compile(pattern_4)
bool(pattern_compiled.match("19196677788"))

True

In [41]:
pattern_5 = "^\\d{11}$"
pattern_compiled = re.compile(pattern_5)
bool(pattern_compiled.match("19196677788"))

True

In [45]:
df.loc[df["number"].str.match("^\\d{11}$")]

         number
12  16047106548
17  19196677788
32  84356935565
33  60179231234
35  16723508850
42  24455555555
44  17789000000

In [47]:
df.loc[df["number"].str.match("^1\\d{10}$")]

         number
12  16047106548
17  19196677788
35  16723508850
44  17789000000